<style>
    .section-p1 {
        padding: 40px 80px;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #1A2B3A;
        
    }
    footer .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        margin-right: 2vh;
    }
    
    footer .logo{
        margin-bottom: 30px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
    }
    footer a img{
        width: 100%;
        height: 100%;
    }
    footer a h3{
        margin-left: 10px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
    }
    
    footer h4{
        font-size: 14px;
        padding-bottom: 20px;
        color: #fff;
    }
    footer p{
        font-size: 13px;
        margin: 0 0 8px 0;
        color: #fff;
    }
    
    footer a{
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
        color: #fff;
    }
    
    footer .follow{
        margin-top: 20px;
    }
    footer .follow i{
        color: #fff;
        padding-right: 4px;
        cursor: pointer;
    }
    
    footer .install .row img{
        
        border-radius: 6px;
        width: 20vh;
    }
    
    footer .install img{
        margin: 10px 0 15px 0;
    }
    
    footer .follow i:hover, footer a:hover{
        color: #088178;
    }
    
    footer .copyright{
        width: 100%;
        text-align: center;
    }
    footer .row{
        display: flex;
    }
    @media (max-width: 960px){
        .section-p1 {
            padding: 40px 40px;
        }
    }
    @media (max-width:500px){
        .section-p1 {
            padding: 20px;
        }
    }
</style>
<footer class="section-p1">
    <div class="col">
        <h4>Contact</h4>
        <p><strong>Address: </strong> Cambodia, Kampong Cham pro, . Kampong  Cham City</p>
        <p><strong>Phone: </strong> +855 88 356 1807</p>
        <p><strong>Hours: </strong> 24/7 </p>
        <p><strong>E-mail: </strong> lostworldbookshop.admin@lw.com </p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest-p"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="assets/img/pay/app.jpg" alt="">
            <img src="assets/img/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="assets/img/pay/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>© 2023, Web app development ecommerce</p>
    </div>
</footer>
