
<style>
    .group-card{
        display: flex;
        background-color: #EDF0F4;
        padding: 5vh 40px;
    }
    .card img{
        
        border-radius: 10px;
        margin-bottom: 1vh;
    }
    .card{
        background-color: transparent;
        overflow: hidden; 
        border: none;
        padding: 0;
    }
    .card-body{
        
        padding: 0;
    }
    
    .card-body span, .card-body h5{
        font-size: 15px;
    }
    
    .btn{
        background-color: #31516D;
        border: 0;
    }
    @media (max-width:500px){
        .group-card{
            padding: 2vh 10px;
            overflow-x: scroll;
        }
        .card-body{
            padding: 0vh;
        }
        span, h5{
            font-size: 12px;
            margin-right: 1vh;
        }
        
    }

</style>

<div class="group-card">
    <div class="card" style="width: 15rem; margin-left:5vh; " *ngFor="let book of books;" (click)="selectBook(book)">
        <img class="card-img-top image" src="{{book.bookcover.img1}}" alt="Card image cap">
        <div class="card-body">
            <span>{{book.genre}}</span>
            <h5 class="card-title">{{book.title}}</h5>
    </div>
</div>