
<style>
    .group-card{
        display: flex;
        background-color: #EDF0F4;
    }
    .card img{
        height: 30vh;
    }
    .card .c-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .star{
        display: flex;
        align-items: center;
    }
    .star i{
        font-size:2.5vh;
        color: rgb(243, 181, 25);
    }
    .star h5{
        margin: 1vh;
    }
    .btn{
        background-color: #31516D;
        border: 0;
    }
    @media (max-width:500px){
        .card img{
            height: 20vh;
        }
        h5{
            font-size: 15px;
        }
    }

</style>

<div class="group-card" style="padding: 5vh 0; padding-right: 5vh;">
    <div class="card" style="width: 15rem; margin-left:5vh;" *ngFor="let book of books;" (click)="selectBook(book)">
        <img class="card-img-top image" src="{{book.bookcover.img1}}" alt="Card image cap">
        <div class="card-body">
            <span>{{book.genre}}</span>
            <h5 class="card-title">{{book.title}}</h5>
            <div class="c-row">
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <h5>{{book.critic}}</h5>
                </div>
                <h5>{{book.price | currency}}</h5>
            </div>
        <a href="#" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
</div>